# Web scraping
requests==2.31.0
beautifulsoup4==4.12.3
lxml==5.1.0
recipe-scrapers>=15.0.0

# Data handling
pyyaml==6.0.1

# Rate limiting
ratelimit==2.2.1

# Progress bars
tqdm==4.66.1

# Logging
colorlog==6.8.2
